body{
  background: springgreen;
  font-family: 'Quicksand', sans-serif;
  font-size: 18px;
}
form{
  text-align: left;
 }
select{
  display: block;
  height: 50px;
  width: 100%;
  border-radius: 10px;
  margin: 10px 0px 15px 0px;
  font-size: 1.4rem;
  font-family: 'Quicksand', sans-serif;
}
option{
  font-family: 'Quicksand', sans-serif;
  font-size: 1.4rem;
}
textarea{
  border: 3px ridge white;
  border-radius: 10px;
  font-family: 'Quicksand', sans-serif;
  font-size: 1.4rem;
}
option,p{
  font-size: 1.4rem;
}
label{
  font-size: 1.4rem;
  letter-spacing: 2px;
}
button{
  padding: 10px;
  width: 400px;
  font-size: 1.4rem;
  font-family: 'Quicksand', sans-serif;
  background: lightgreen;
  border-radius: 10px;
}
button:hover{
  background: springgreen;
}
/*input{
  display: block;
  height: 30px;
  width: 100%;
  border-radius: 10px;
  margin: 10px 0px 15px 0px;
  font-family: 'Quicksand', sans-serif;
}*/

.form-container{
  background: palegreen;
  max-width: 800px;
  margin: 0px auto;
  border: 1px solid palegreen;
  border-radius: 10px;
  padding: 20px 20px;
}
.heading{
  min-width: 80%;
  text-align: center;
  padding: 20px 0px;
}
.form-name input,
.form-email input,
.form-age input{
  display: block;
  height: 50px;
  width: 100%;
  border-radius: 10px;
  margin: 10px 0px 15px 0px;
  font-family: 'Quicksand', sans-serif;
  font-size: 1.4rem;
}
.form-gender input{
  margin-bottom: 10px;
  transform: scale(1.4);
}
.form-purpose input{
  margin-bottom: 10px;
  transform: scale(1.4);
}
.form-purpose{
  margin-bottom: 20px;
}
.form-submit{
  text-align: center;
  padding-top: 10px;
}
